.App {
  font-family: sans-serif;
  text-align: center;
}

.parent-wrapper {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 213, 213);
  margin: 10px 0px;
}

.child-wrapper {
  margin: 4px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 255);
  background-color: rgb(218, 218, 255);
}
